@import './colors.scss';

@font-face {
  font-family: 'Oswald-Medium';
  src: url(../public/Oswald-Medium.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald-Medium';
  background: $white;
  color: $black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.padding {
  padding: 1rem;
}

.description {
  text-align: justify;
  margin-left: 2rem;
}

.pointer {
  cursor: pointer;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.nft {
  border-radius: 1rem;
}

.buy {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: 'Oswald-Medium';
  border: none;
  background: $yellow;
  color: $black;
  font-size: 2rem;
}